.container__footer {
  background-color: var(--color-green-600);

  display: grid;
}

.footer__list {
  flex-direction: row;
  list-style: none;
  line-height: 2.5;
  margin: auto;
}

.footer-img {
}

.icon-arrow-right {
  display: flex;
}

.icon-arrow-right {
  display: flex;
  flex-direction: row;
  align-items: left;
  justify-content: left;
  list-style: none;
}

.icon-arrow-right > a {
  text-decoration: none;
  color: white;
}

.icon-arrow-right > img {
  height: 18px;
}

.footer__list-item {
}

.ft-title {
  color: var(--color-green-400);
  weight: 300;
}

.footer__p-bottom {
  color: gray;
}
