.usps {
}

.usps__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;

  list-style: none;
}

.usps__list-item {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;

  margin-right: var(--p-4);
}

.usps__list-item > .icon-check {
  margin-right: var(--p);
}

.contact {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
  width: auto;
}

.contact__email,
.contact__tel {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
}

.email > a {
  margin-right: var(--p-4);
  text-decoration: underline;
  color: var(--color-black);
}

.tel > a {
  margin-right: var(--p-4);
  text-decoration: underline;
  color: var(--color-black);
}

.logo__img {
  /* Lijkt op het eerste zicht oke, later mss nog media queries, enkel breedte bepalen met rem en hoogte automatisch via browser laten berekenen*/
}

.nav {
  word-spacing: 2em;
}

.nav-link {
  text-decoration: none;
  font-family: var(--font-family_roboto-slab);
  line-height: 1.56em;
  font-weight: 400;
  color: var(--color-green-800);
  font-size: 1.6rem;
}

@media screen and (max-width: 1400px) {
  .usps {
    display: none;
  }
}

@media screen and (max-width: 882px) {
  .nav-link {
    border: 0px solid transparent;
    background: white;
    text-align: center;
    margin-bottom: 0;
    line-height: 2;
    font-size: 1.1rem;
    padding: 0;
    width: auto;
    flex-shrink: 1;
    flex-grow: 1;
    color: var(--color-green-600);
  }
}
