.container-one {
  display: flex;
}

.intro__p {
  font-size: 1.5em;
  line-height: 1.5;
  font-weight: 400;
}

.column-big {
  overflow: hidden;
  padding: 0 var(--p-8);
}

.column-small {
  display: grid;
  overflow: hidden;
  padding: 0 var(--p-8);
  justify-content: stretch;
}

.bg-orange {
  background-color: var(--color-orange);
  color: white;
  height: auto;
  vertical-align: bottom;
}

.readmore {
  display: flex;
}

.readmore__p {
}

/* Schrauwen in beeld */

.container-header {
  padding: 2rem;
}

.media-scroller {
  display: grid;
  gap: 2rem;
  grid-auto-flow: column;
  grid-auto-columns: 28%;

  overflow-x: auto;
  overscroll-behavior-inline: contain;
}

.media-element {
  display: grid;
  gap: 2rem;
  padding: 2rem;
  flex-direction: column;
  justify-content: space-between;
  height: 90%;
  width: 100%;
}

.media-element > img {
  inline-size: 100%;
  aspect-ratio: 9 / 11;
  object-fit: cover;
}

.media-element > p {
  font-size: 1em;
  font-weight: 400;
  color: var(--color-green-600);
  border-bottom: solid 1px var(--color-green-600);
  padding-bottom: 1rem;
}

@media screen and (max-width: 768px) {
  .media-scroller {
    height: 90vh;
    grid-auto-columns: 100%;
  }
}

@media screen and (max-width: 768px) {
  .media-element {
    width: 600px;
    display: flex;
  }
}

.container-green {
  background-color: var(--color-green-bg);
}

.contact-box {
  background-color: var(--color-green-400);
}

.column-6-werkwijze {
  padding-right: 20px;
}
