.container-one {
  display: flex;
}

.intro__p {
  font-size: 1.5em;
  line-height: 1.5;
  font-weight: 400;
}

.column-big {
  overflow: hidden;
  padding: 0 var(--p-8);
}

.column-small {
  display: grid;
  overflow: hidden;
  padding: 0 var(--p-8);
  justify-content: stretch;
}

.bg-orange {
  background-color: var(--color-orange);
  color: white;
  height: auto;
  vertical-align: bottom;
}

.readmore {
  display: flex;
}

.readmore__p {
}

.media-scroller {
  display: grid;
  gap: 2rem;
  grid-auto-flow: column;
  grid-auto-columns: 28%;

  overflow-x: auto;
  overscroll-behavior-inline: contain;
}

.media-element {
  display: grid;
  /* grid-template-columns: min-content; */
  gap: 2rem;
  padding: 2rem;
  flex-direction: column;
  justify-content: space-between;
  height: 90%;
  width: 100%;
}

.media-element > img {
  inline-size: 100%;
  aspect-ratio: 9 / 11;
  object-fit: cover;
}
