:root {
  --color-black: black;
  --color-white: white;
  --color-red: #e83c3c;

  --font-family_stolzl: "stolzl", sans-serif;
  --font-family-stolzl_display: "stolzl_display", sans-serif;
}

body {
  font-family: var(--font-family_stolzl);
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-white);
  background-color: var(--color-black);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-stolzl_display);
  font-weight: 400;
  line-height: 1.2;
}

h1 {
  font-size: 2.5rem;
  font-weight: 900;
  background-color: var(--color-black);
}

h2 {
  font-size: 4rem;
  font-weight: 600;
  color: var(--color-black);
  text-transform: capitalize;
}

.h2-red-bg {
  background-color: var(--color-red);
}

h3 {
  font-size: 2.5rem;
  font-weight: 600;
  color: var(--color-black);
  text-transform: capitalize;
}

.bg-red {
  background-color: var(--color-red);
}
